.logo {
    background: linear-gradient(90deg, #1a73e8, #ff4081);
    background-clip: text;
    color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 6px 6px 0px rgba(0, 0, 0, 0.05);
    width: fit-content;
}
/* 1024px: lg */
@media (width >= 1024px) {
    .logo:hover {
        background: linear-gradient(90deg, #ff4081, #1a73e8);
        background-clip: text;
    }
}
