.logo {
  background: linear-gradient(
    90deg,
    var(--color-blue-500),
    var(--color-red-500)
  );
  background-clip: text;
  color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 6px 6px 0px rgba(0, 0, 0, 0.05);
  width: fit-content;
}
/* 1024px: lg */
@media (width >= 1024px) {
  .logo {
    font-size: 3em;
  }
  .logo:hover {
    background: linear-gradient(
      90deg,
      var(--color-blue-500),
      var(--color-red-500)
    );
    background-clip: text;
  }
}
