@import "tailwindcss";

*,
*::before,
*::after {
  @apply scroll-smooth;
}

:root {
  --primary-color: #3730a3; /* indigo-800 */
  --primary-color-hover: #312e81; /* indigo-900 */
  --primary-color-text: #1e1b4b; /* indigo-950 */
}

body {
  @apply bg-neutral-200;
  @apply font-[Roboto];
  @apply overflow-x-hidden;
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotateY-180 {
  transform: rotateY(180deg);
}
