@import "tailwindcss";

* {
  @apply scroll-smooth;
}

body {
  @apply bg-neutral-200;
  @apply font-[Roboto];
}

.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotateY-180 {
  transform: rotateY(180deg);
}
